#### 1.	Write a Python program to find sum of elements in list?

In [1]:
ls=[5,7,8,12,3,9,56]
sum(ls)

100

#### 2.	Write a Python program to  Multiply all numbers in the list?

In [3]:
def list_mul(ls):
    result=1
    for i in ls:
        result=result*i
    return result

In [4]:
ls=[5,7,8,12,3,9]
list_mul(ls)

90720

#### 3.	Write a Python program to find smallest number in a list?

In [6]:
ls=[5,7,8,12,3,9,56]
min(ls)

3

#### 4.	Write a Python program to find largest number in a list?

In [7]:
ls=[5,7,8,12,3,9,56]
max(ls)

56

#### 5.	Write a Python program to find second largest number in a list?

In [8]:
def second_larg(ls):
    ls.sort()
    num=ls[-2]
    return num

In [9]:
ls=[5,7,8,12,3,9,56]
second_larg(ls)

12

#### 6.	Write a Python program to find N largest elements from a list?

In [12]:
def n_largest(ls,n):
    n_list=[]
    ls.sort()
    for i in range(n):
        n_list.append(ls[-(i+1)])
    return n_list

In [17]:
ls=[5,7,8,12,3,46,23,89,9,56]
n=int(input('How many largest element you want '))
n_largest(ls,n)

How many largest element you want 3

[89, 56, 46]

#### 7.	Write a Python program to print even numbers in a list?

In [18]:
def even_num(ls):
    even_no = [i for i in ls if i%2==0]
    return even_no

In [19]:
ls=[5,7,8,12,3,46,23,89,9,56]
even_num(ls)

[8, 12, 46, 56]

#### 8.	Write a Python program to print odd numbers in a List?

In [20]:
def odd_num(ls):
    odd_no = [i for i in ls if i%2!=0]
    return odd_no

In [23]:
ls=[5,7,8,12,3,46,23,89,9,56]
odd_num(ls)

[5, 7, 3, 23, 89, 9]

#### 9.	Write a Python program to Remove empty List from List?

In [27]:
def rm_empty_list(ls):
   
    if not ls:
        return 'list is empty'
    else:
        for i in ls:
            if i==list():
                if not i:
                    ls.remove(i)
    return ls

In [28]:
ls=[4,5,3,6,[12,23],[],78]
rm_empty_list(ls)

[4, 5, 3, 6, [12, 23], 78]

#### 10.	Write a Python program to Cloning or Copying a list?

In [34]:
ls=[4,5,3,6,[12,23],[],78]
list1=[]
list1=ls.copy()

In [35]:
list1

[4, 5, 3, 6, [12, 23], [], 78]

#### 11.	Write a Python program to Count occurrences of an element in a list?

In [36]:
def count_occ(ls,ele):
    occurence = ls.count(ele)
    return occurence

In [39]:
ls=[12,56,23,'d','d','w',12,23,5,8,10,5,23]
ele=23
print(ele,'came',count_occ(ls,23),'times in list')

23 came 3 times in list